html, body{
  font-family: 'Fira sans', sans-serif;
  background: url('../img/noisyly.png') repeat fixed, linear-gradient(to bottom, rgba(28,20,20,0.26) 0%,rgba(155,155,155,0) 0.2em) fixed;
  font-size: 1em;
  overflow-x: hidden;
}

html{
  background: rgb(76, 76, 76) url('../img/noisyly.png');
  border-bottom: 10px solid #000;
}

footer a:hover{
  color: rgb(252, 76, 122);
  border-color: rgb(252, 76, 122);
}

.hi-message{
  text-align: center;
  width: 14em;
  left: 50%;
  top: 8.4em;
  font-size: 0.9rem;
  background: #000;
  color: #fff;
  position: absolute;
  padding: 21px;
  margin-top: 8px;
  border-radius: 8px;
  box-shadow: 1px 0px 12px rgba(0,0,0,0.2);
  margin-left: -7em;
  transform: translateY(-7px);
  opacity: 0;
}
  .hi-message.transitions{
    transition: 0.9s all;
  }
  .hi-message.on{
    transform: translateY(0);
    opacity: 1;
  }
  .hi-message p{
    margin: 0;
    text-align: center;
    line-height: 1.3;
    font-weight: 500;
  }
  .hi-message:before{
    content: '';
    border: 7px solid #000;
    border-color: transparent transparent  #000 transparent ;
    display: block;
    top: -14px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
  }
  .skewed-bg{
    min-width: 242px;
    width: 11em;
    margin: auto;
    display: block;
    height: 90px;
    background: none;
    mix-blend-mode: multiply;
    padding: 0;
    margin-top: 0;
    border-radius: 10em;
    position: relative;
    overflow: hidden;
    z-index: 9;
  }

  .skewed-bg.on:before{
    background: rgba(0,0,0,0.1);
  }

  .skewed-bg:after{
    content: '';
    border: 1px solid #ccc;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    display: block;
    padding: 1px;
    overflow: hidden;
    transition: 0.8s all;
    border-radius: 10em;
    position: absolute; top: 0; left: 0;
  }

  .skewed-bg:before{
    content: '';
    background: #fff;
    border: 10px solid #efefef;
    width: calc(100% - 22px);
    height: calc(100% - 22px);
    display: block;
    padding: 1px;
    overflow: hidden;
    transition: 0.8s all;
    border-radius: 10em;
    /* mix-blend-mode: multiply; */
  }
  .progress{
    height: 110%;
    width: 120%;
    background: rgba(255,255,255,0.69);
    opacity: 0;
    transition: 2s opacity;
    transform: skewX(-24deg);
    position: absolute;
    top: -5%; left: -10%;
    pointer-events: none;
  }
  .progress.on{
    opacity: 1;
    animation: 13s loader 1;
  }
@keyframes loader{
  0%{
    width: 0;
  }
  100%{
    width: 120%;
  }
}

#timclulow-word{
  width: 219px;
  margin: auto;
  position: absolute;
  top: 2.1em;
  left: 50%;
  margin-left: -109px;
  height: 86px;
  padding: 10px 30px;
  margin-top: 0;
  border-radius: 0 0 6px 6px;
  filter: drop-shadow( -1px -1px 0px rgba(55, 32, 66,0.12));
  z-index: 10;
  pointer-events: none;
}
#T, #I, #M, #C, #L1, #U, #L2, #O, #W{
  opacity: 0.99;
}
.grid-layout-1{
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 0fr auto 1fr;
}
@media only screen and (min-width: 1240px) {
  .grid-layout-1{
    margin: auto;
    width: 50em;
    box-shadow: 0px 2px 52px rgba(0,0,0,0.2);
  }
}

.header{
  grid-area: header;
  padding-top: 2em;
}
.main{
  grid-area: main;
  margin: 0 auto 40px;
  line-height: 1.2em;
  text-align: left;
  width: 70%;
  max-width: 35em;
}
  .main h1 + p{
    margin-right: 10px;
  }
  .main a, footer a{
    transition: 0.3s all cubic-bezier(0.42, 0, 0.57, 1.96)
  }
  .main a:link{
    box-shadow: inset 0 -1px 0 #ccc;
    transition: 0.4s all ease-in-out;
  }
  .main a:hover{
    color: #000;
    box-shadow: inset 0 -1.3em 0 rgba(100,100,100,.1);
  }
  .main .grid{
    margin-top: 3em;
  }
  .main > h2:first-child{
    margin-top: 1em;
  }
  .main .-span-cols-4{
    border-left: 1px solid #ccc;
    font-size: 0.85em;
    line-height: 1.4;
  }
  .main .-span-cols-4 ul{
    padding-left: 0;
  }
  .main .-span-cols-4 ul li{
    padding-left: 0;
    padding-bottom: 0.7em;
    padding-right: 1em;
    font-size: 0.75em;
    list-style-type: none;
    font-style: italic;
    color: #999;
  }
  .main .-span-cols-4 ul li:before{
    content: '— ';
  }
  .main h4{
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 1em;
  }
  .main h3{
    margin-top: -13px;
    font-weight: 400;
    font-size: 0.9em;
  }
  .main h6{
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 0.8em;
  }
  .main h6 em{
    margin-top: 1em;
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    color: rgb(70, 122, 163);
  }
  .main h2 + p em{
    margin-top: 0;
  }
  .main ul{
    margin-bottom: 2em;
  }

.col > h2:first-child{
  margin-top: 0;
}

.col h4{
  margin-top: 5px;
}

.footer{
  grid-area: footer;
  padding-bottom: 5em;
  width: 80%;
  display: block;
}


h1, h2, h3, h4, h5, h6{
  text-align: left;
}

h1{
  text-align: center;
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

h2{
  text-align: left;
  font-weight: 600;
  font-size: 1.15em;
  padding-bottom: 5px;
  letter-spacing: -0.04em;
  margin-top: 2.5em;
}

p{
  text-align: left;
  font-family: 'Fira sans', sans-serif;
  font-weight: 200;
  font-size: 0.85em;
}

dl{
  text-align: left;
  font-size: 0.85em;
}

dl dt, dl dd{
  line-height: 1.4;
  padding-bottom: 2px;
}

dl dt:first-child, dt:first-child + dd{
  border: 0;
  margin-top: 0;
}

dl dt{
  font-size: 0.7em;
  text-transform: uppercase;
  border-top: 1px solid #cecece54;
  padding-top: 11px;
}

dl dt strong{
  font-weight: 600;
  background: #f3f3f3;
  color: #2b2b2b;
  padding: 0 7px;
  letter-spacing: 0.02em;
  border-radius: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
  display: inline-block; 
}

dl dd{
  font-weight: 300;
  font-size: 0.9em;
  padding-bottom: 13px;
  padding-left: 7px;
}

ul{
  padding-left: 1em;
}

ul li{
  text-align: left;
  list-style-type: none;
  padding-left: 0.2em;
  display: list-item;
  font-weight: 200;
  font-size: 0.85em;
  counter-increment: item;
  padding-bottom: 1em;
}

.-span-cols-6 ul li{
  padding-left: 0.6em;
}

.-span-cols-6 ul li:before{
  content: "0" counter(item) ". ";
  font-weight: 800;
  margin-left: -1.65em;
  margin-right: 2px;
  font-size: 0.85em;
  position: relative;
  left: -8px;
  top: -1px;
}

#angle1{
  transform-origin: 10px 10px;
}

.-clearfix{
  display: block;
  clear: both;
}

.download, .download .download-icon, .download .download-icon:before, 
.download .download-icon:after{
  transition: 0.7s all cubic-bezier(0.42, 0, 0.57, 1.96);
}

.download:hover{
  color: rgb(252, 76, 122);
}

.download:hover .download-icon{
  transform: scale(1);
  border-color: rgb(252, 76, 122);
}
.download:hover .download-icon:before, 
.download:hover .download-icon:after{
  background: rgb(252, 76, 122);
}
.download-icon{
  width: 29px;
  height: 29px;
  border: 2px solid #333;
  border-radius: 5em;
  display: inline-block;
  position: relative;
  margin-left: -36px;
  top: 8px; left: 0px;
  transform: scale(0.8);
}
.download-icon:before{
  position: absolute;
  left: 9px;
  top: 8px;
  transform: rotate(45deg);
  content: '';
  display: block;
  height: 2px;
  width: 10px;
  background: #333;
}
.download-icon:after{
  position: absolute;
  left: 9px;
  bottom: 9px;
  transform: rotate(-45deg);
  content: '';
  display: block;
  height: 2px;
  width: 10px;
  background: #333;
}
.-print-only{ display: none}
.-print-only p{
  margin-bottom: 0;
  margin-top: 0;
}
.-print-only h6{
  margin: 20px 0 0 0;
}

.lastpublished{
  color: #999;
  padding-top: 2em;
}

@media print{
  .header{
    padding-top: 0;
  }

  #timclulow-word{
    top: 0.1em;
  }

  #timclulow-word, .skewed-bg{
    transform: scale(0.55);
    -webkit-transform: scale(0.55);
  }

  .skewed-bg{
    width: 25em;
  }

  .main h1 + p{
    margin-right: 2em;
  }

  .-p-left-3{
    padding-left: 3em;
  }

  .-m-right-2{
    padding-right: 2em;
  }

  .-print-only{
    display: block;
  }
  .-print-hidden, .download-icon{
    display: none;
  }

  html, body{
    background: none;
    overflow-x: hidden;
  }

  body{
    font-size: 0.7em;
    width: 100%;
    height: 100%; 
    margin-top: 0;
  }
  
  .main h2{
    margin: 2em 0 1em;
  }
 
  .main h3{
    margin: 0 0 1em;
  }

  .main h6{
    margin-bottom: 0;
  }

  .main, .footer{
    width: 100%;
    max-width: none;
  }

  .main ul{
    margin-top: 10px;
    margin-left: 0.5em;
  }

  dl dd{
    padding-bottom: 0
  }

  #pageHeader-1{
    display: none;
  }
  .-float-right{
    float: none;
    width: 100%;
  }
  .-float-right .-print-only{
    display: inline;
  }
  .footer{
    padding-bottom: 0;
  }
  html{
    border-bottom: none;
  }
  @page {
    size: A4;
    margin: 2cm 3cm;
  }
}

/* responsiveness */
@media only screen and (max-width: 800px) {
  .-float-left, .-float-right{
    float: none;
  }
  .grid{
    display: block;
  }
  .-span-cols-4{
    margin-top: 3em;
  }
  .footer{ 
    width: 60%;
  }
}

@media only screen and (min-width: 500px) {
  html, body{
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1140px) {
  html, body{
    font-size: 1.25em;
  }
}